<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" th:href="@{/app.css}" />

	<title>Countries of the World</title>
</head>
<body>
	<header>
		<div class="container">
			<h1><a href="@{/}">Countries of the World</a></h1>
		</div>
	</header>

    <div class="container">
        <div class="dropdown">
            <button class="dropbtn">Sort</button>
            <div class="dropdown-content">
                <a th:href="@{'/sort-by-name'}">By Name</a>
                <a th:href="@{'/sort-by-population'}">By Population</a>
            </div>
        </div>
    </div>

	<div class="container">
		<div class="country" th:each="country : ${countries}">
			<a th:href="@{'/countries/' + ${country.name}}">
				<img th:src="@{'/flags/' + ${country.name} + '.png'}" th:alt="@{'Flag of ' + ${country.name}}"/>
				<h4 th:text="@{${country.name}}"></h4>
			</a>
		</div>
	</div>
</body>
</html>